body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #808080;
}

div {
  display: flex;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
  margin: auto;
  padding: 20px;
}

button:hover {
  background-color: white;
  border: 5px solid salmon;
  color: salmon;
}

/* need a better element for gray banner at bottom */
hr {
  color: #808080;
  border: 100px solid #808080;
}