body {
  font-family: 'Poppins', sans-serif;
  width: 1020px;
}

main {
  margin: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #808080;
}

/* 300x375 */
section {
  display: flex;
  justify-content: space-evenly;
}

section img {
  margin: 15px;
}

/* 480x400 */
div {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

article {
  margin: 30px;
}

h2 {
  font-weight: bold;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
  margin: auto;
  padding: 20px;
}

button:hover {
  background-color: white;
  border: 5px solid salmon;
  color: salmon;
}

hr {
  color: #808080;
  border: 49px solid #808080;
}